# Distribution/Packaging
build/
dist/
*.egg-info
*.in

# Original script
gNALI.R

# Test files
Genes_Short.csv
empty_file.csv

# Swaps
*.swp

# Data stuff
.pybiomart.sqlite
gnali/data*
!gnali/data/.gitkeep
!gnali/data/db-config.yaml
!gnali/data/__init__.py

# Any slurm output
*.out

# Python bytecode
*.pyc
*.pyo

# Notes
notes.md

# Outputs from the gNALI.R
Non*.txt

# Testing stuff
gNALI-results/
.cache/
.ipnyb_checkpoints
.tox/
.coverage
test.txt
results*
*profile*.txt
gnali/patch.txt
chr18*

# WIP
gnali/output.py
