# Distribution/Packaging
build/
dist/
*.egg-info
*.in

# Original script
gNALI.R

# Smaller test file
Genes_Short.csv

# pybiomart stuff
.pybiomart.sqlite

# Any slurm output
*.out

# Python bytecode
*.pyc
*.pyo

# Notes
notes.md

# Outputs from the gNALI.R
Non*.txt

# Results
gNALI-results/
