# Distribution/Packaging
build/
dist/
*.egg-info
*.in

# Original script
gNALI.R

# Test files
Genes_Short.csv
empty_file.csv

# Swaps
*.swp

# Data stuff
.pybiomart.sqlite
gnali/data*
!gnali/data/db-config.yaml
!gnali/data/db-config-template-grch37.yaml
!gnali/data/db-config-template-grch38.yaml
!gnali/data/__init__.py
Bio/

# Any slurm output
*.out

# Python bytecode
*.pyc
*.pyo

# Notes
notes.md

# Outputs from the gNALI.R
Non*.txt

# Testing stuff
gNALI-results/
.cache/
.ipnyb_checkpoints
.tox/
.coverage
test.txt
results*
vcf_results*
*profile*.txt
gnali/patch.txt
chr18*
gnomad3*
gnomad2*
genes.txt
hiv.txt
gnali/vep_scripts/*
gnomad*
ccr5*
quick.py
1var*
test_temp*
environment-old.yml

# WFH
.vscode
*.lnk

# gnomAD stuff
gnomad/
